// Обнуление стилей
@import "nullstyle.scss";
// Подключение шрифтов
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
//SCSS
.main {
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #2B2726;
    color: #fff;
}
.content {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px 0;
}
.slider {
		&__title {
            font-weight: 700;
            font-size: 25px;
            padding: 0 0 30px 0;
		}
        &__content{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
		&__block {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
		}
        &__textbackground{
            background-color: #F0EC8B;
            border-radius: 10px;
            width: 100%;
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

		&__text {
            color: #403541;
            font-size: 16px;
            font-size: 35px;
            padding: 0 15px;
            text-align: center;
            line-height: 1.4;
		}
        &__arrows {
            padding: 10px 0;
        }
        &__imagesblock {
            padding: 20px 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__boss{
            width: 100%;
            position: relative;
            overflow: hidden;
            height: 500px;
        }
        &__item{
            position: absolute;
            top: 0;
            left: -50%;
            transform: translate(-50%, 0);
            width: 500px;
            height: 500px;
        }
        
        &__image {
            position: relative;
            object-fit: cover;
            width: 100%;
            height: 100%;
            display: block;
        }
}
.slider__item.z_10{
    z-index: 10;
    animation: leftToRight 4.5s linear;
}
@keyframes leftToRight {
    0%{
        left: -50%;
    }
    10%{
        left: 50%;
    }
    90%{
        left: 50%;
    }
    100%{
        left: 150%;
    }
}


.arrows {
    display: flex;
    &__arrow {
        user-select: none;
        cursor: pointer;
        color: #fff;
        font-size: 50px;
        margin: 0 40px 0 0;
        &:last-child{
            margin: 0;
        }
    }
}
.arrows__arrow._last{
    opacity: 0.4;
    cursor: auto;
}
